name: MacOS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build-MacOS:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v3
    - name: Configure CMake
      working-directory: examples/empty_3D_scene
      run: cmake -B build/ -DCMAKE_BUILD_TYPE=RelWithDebInfo -DMACOS_GLFW_PRECOMPILED=ON
    - name: Build
      working-directory: examples/empty_3D_scene/build
      run: make -j$(nproc)